.header-color{
    color: blue;
}

/* Fonts */
@font-face {
   font-family: 'Inter-Regular';
    src: url('../../fonts/Inter-Regular.woff')format('woff');
    
    font-family: 'Inter-Bold';
    src: url('../../fonts/Inter-Bold.woff')format('woff');
    
    
}

/* FONT SIZES */
.fontSize80{
    font-size: 80px;
} 
.fontSize70{
    font-size: 70px;
} 
.fontSize60{
    font-size: 60px;
} 
.fontSize50{
    font-size: 50px;
} 

/* MARGINS */

.left-allign{
    text-align: left;
}



/* CARD */
.container{
    max-width: 1560px;
    margin: 0 auto;
  }

  .card{
    background-color: white;
    border-radius: 5px;
    padding: 10px,20px,30px;
    margin-top: 50px;
  
  }

  /* Paddings */
/* Left Paddings */

.pl20{
    padding-left: 20px;
}

.pl30{
    padding-left: 30px;
}

.pl40{
    padding-left: 40px;
}

.pl50{
    padding-left: 50px;
}
/* bottom */
.pb50{
    padding-bottom: 50px;
}
.pb10{
    padding-bottom: 10px;
}


/* Margin */
/* Left */
.mgl10{
    margin-left: 10px;
}
.mgl20{
    margin-left: 20px;
}
.mgl30{
    margin-left: 30px;
}
.mgl35{
    margin-left: 35px;
}
.mgl40{
    margin-left: 40px;
}
.mgl50{
    margin-left: 50px;
}
.mgl54{
    margin-left: 54px;
}
.mgl60{
    margin-left: 60px;
}
.mgl70{
    margin-left: 70px;
}
.mgl400{
    margin-left: 500px;
}


/* Top */
.mgt190{
    margin-top: 190px;
}